# JSON Mini-Project: World Bank Projects
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [28]:
import json
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np

In [ ]:
# load json file as string
data_string = json.load((open('data/world_bank_projects.json')))

# load json file as Pandas dataframe
data_frame = pd.read_json('data/world_bank_projects.json')

In [56]:
# 1. Top 10 Countries with most projects

# read as data frame
most_projects = data_frame[['countryname', 'project_name']]

#group by 'countryname', count, and sort
most_projects = most_projects.groupby('countryname').size().sort_values(ascending=False)

# isolate top 10
most_projects = most_projects.head(10)
most_projects

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

In [59]:
# 2. Top 10 project themes
top_projects = json_normalize(data_string, 'mjtheme_namecode')

# group by project, count, and sort
top_projects = top_projects.groupby('name').size().sort_values(ascending=False)

# isolate top 10
top_projects = top_projects.head(10)
top_projects

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [70]:
# 3. Fill in missing names

# normalize and drop duplicates
clean_projects = json_normalize(data_string, 'mjtheme_namecode').drop_duplicates()

# drop NA's
clean_projects = clean_projects[clean_projects != ''].dropna()

# prep for new data frame
col1 = clean_projects[['code']].astype(int)
col2 = clean_projects[['name']]

# concatente, sort, reset index
clean_projects = pd.concat([col1, col2], axis=1).sort_values('code').reset_index(drop=True)
clean_projects

    code                                          name
0      1                           Economic management
1      2                      Public sector governance
2      3                                   Rule of law
3      4      Financial and private sector development
4      5                         Trade and integration
5      6         Social protection and risk management
6      7                   Social dev/gender/inclusion
7      8                             Human development
8      9                             Urban development
9     10                             Rural development
10    11  Environment and natural resources management